[Desktop Entry]# ------------------------
Actions=connectNC;
MimeType=all/all;
Type=Service
Icon=kncs_nextcloud
X-KDE-Priority=TopLevel
X-KDE-ServiceTypes=KonqPopupMenu/Plugin,all/all;
X-KDE-Submenu=Nextcloud

[Desktop Action connectNC]
Name=Connect to Nextcloud
Icon=kncs_nextcloud
Exec=/media/dal/.local/share/scripts/kncs_connect_nc.sh %F
